* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ==== common ======= */
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp , 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.heading {
    font-family: var(--font-heading);
    letter-spacing: -0.02em;
    color: #171100;
}
.heading.lv1 {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
}
.heading.lv3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
}
header {
    display: flex;
    padding-top: 36px;
    background: #fffcf4;
}
header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
}
.nav {
    margin-left: auto;
}
.nav ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}
li.active a {
    font-weight: 600;
    font-size: 16px;
    color: #171100;
}
li.active a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 2px;
    background: #171100;
    border-radius: 1px;
}
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
}
.header .action .btn {
    min-width: 144px;
    margin-left: 49px;
}
/*    hero  */
.hero {
    background: #fffcf4;
    padding-top: 56px;
    padding-bottom: 36px;
}
.hero .main-content {
    display: flex;
}
.hero .media-block {
    display: flex;
    width: 48%;
    position: relative;
}
.hero .media-block .anhbia {
    display: block;
    object-fit: cover;
    height: 685px;
    width: 470px;
    border-radius: 20px;
}
.hero .content-block {
    width: 52%;
    padding-left: 130px;
}

.media-block .media-small {
    position: absolute;
    width: 270px;
    right: 0px;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.media-small .row-con {
    display: flex;
    margin: 24px 58px 24px 24px;
    align-items: center;
}
.media-small .row-con-img {
    margin-right: 16px;
}

.media-small .row-con p:last-child {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .content-block .desc {
    font-family: "Poppins", sans-serif;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.hero .content-block .row {
    margin-top: 35px;
    display: flex;
    margin-bottom: 48px;
}

.hero .row .btn {
    min-width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
}
.hero .row .watch {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fffcf4;
    margin-left: 28px;
    cursor: pointer;
}
.hero .row .icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .watch div {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
    margin-left: 14px;
}
.hero .content-block .data {
    display: flex;
    margin-top: 8px;
}
.content-block .data img {
    margin-right: 28px;
}

/* ====================================================popular=============== */
.popular {
    padding: 200px 0px;
    background: #e5e5e5;
}
.popular .info {
    width: 39%;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 16px;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .controls .btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}
.popular-top .controls .btn-cta:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.popular-top .controls .right {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.popular .courses-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    flex-wrap: nowrap;
}
.courses-item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.courses-list .info {
    width: 326px;
    margin: 16px auto 22px;
}
.courses-list .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-list .info-star {
    display: flex;
    align-items: center;
}
.courses-item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 22px;
}

.courses-item .star {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.courses-item .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}
.courses-list .info .desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.courses-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.courses-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.courses-item .foot .btn {
    font-size: 1.4rem;
    border: none;
}
.courses-item .foot .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
/* =====================================================================feel=============== */
.feel {
    background: #2e2100;
    padding: 96px 0px;
}
.feel .feel-row {
    display: flex;
    justify-content: space-between;
}
.feel-row .row-left {
    width: 14%;
}
.feel-row .row-right {
    width: 66%;
}
.feel-row .icon {
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
.heading.lv4 {
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin-top: 14px;
}
.row-left p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-top: 4px;
}
.feel .row-right {
    display: flex;
    position: relative;
    width: 62%;
    min-width: 770px;
    height: 188px;
}
.row-right .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.row-right .desc {
    position: absolute;
    min-width: 740px;
    right: 0;
    bottom: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
