* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ==== common ======= */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.heading {
    font-family: var(--font-heading);
    letter-spacing: -0.02em;
    color: #171100;
}
.heading.lv1 {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
}
.heading.lv3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
}
header {
    display: flex;
    padding-top: 36px;
    background: #fffcf4;
}
header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
}
.nav {
    margin-left: auto;
}
.nav ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}
li.active a {
    font-weight: 600;
    font-size: 16px;
    color: #171100;
}
li.active a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 2px;
    background: #171100;
    border-radius: 1px;
}
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
}
.header .action .btn {
    min-width: 144px;
    margin-left: 49px;
}
/*    hero  */
.hero {
    background: #fffcf4;
    padding-top: 56px;
    padding-bottom: 36px;
}
.hero .main-content {
    display: flex;
}
.hero .media-block {
    display: flex;
    width: 48%;
    position: relative;
}
.hero .media-block .anhbia {
    display: block;
    object-fit: cover;
    height: 685px;
    width: 470px;
    border-radius: 20px;
}
.hero .content-block {
    width: 52%;
    padding-left: 130px;
}

.media-block .media-small {
    position: absolute;
    width: 270px;
    right: 0px;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.media-small .row-con {
    display: flex;
    margin: 24px 58px 24px 24px;
    align-items: center;
}
.media-small .row-con-img {
    margin-right: 16px;
}

.media-small .row-con p:last-child {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .content-block .desc {
    font-family: "Poppins", sans-serif;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.hero .content-block .row {
    margin-top: 35px;
    display: flex;
    margin-bottom: 48px;
}

.hero .row .btn {
    min-width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
}
.hero .row .watch {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fffcf4;
    margin-left: 28px;
    cursor: pointer;
}
.hero .row .icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .watch div {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
    margin-left: 14px;
}
.hero .content-block .data {
    display: flex;
    margin-top: 8px;
}
.content-block .data img {
    margin-right: 28px;
}

/* ====================================================popular=============== */
.popular {
    padding: 200px 0px;
    background: #e5e5e5;
}
.popular .info {
    width: 39%;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 16px;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .controls .btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}
.popular-top .controls .btn-cta:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.popular-top .controls .right {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.popular .courses-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    flex-wrap: nowrap;
}
.courses-item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.courses-list .info {
    width: 326px;
    margin: 16px auto 22px;
}
.courses-list .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-list .info-star {
    display: flex;
    align-items: center;
}
.courses-item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 22px;
}

.courses-item .star {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.courses-item .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}
.courses-list .info .desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.courses-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.courses-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.courses-item .foot .btn {
    font-size: 1.4rem;
    border: none;
}
.courses-item .foot .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
/* =====================================================================feel=============== */
.feed-back {
    background: #2e2100;
    padding: 96px 0px;
}
.feed-back .feedback-item {
    display: flex;
    justify-content: space-between;
}
.feedback-item .row-right {
    width: 66%;
}
.feedback-item .feedback-avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .dots {
    display: flex;
}
.feedback-item .dot {
    width: 6px;
    height: 6px;
    margin-right: 6px;
    margin-top: 26px;
    cursor: pointer;
    background: #634700;
    border-radius: 50%;
}
.feedback-item .dot.active {
    cursor: default;
    background: var(--primary-color);
}

.heading.lv4 {
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin-top: 14px;
}
.row-left p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-top: 4px;
}
.feed-back .row-right {
    width: 66%;
    margin-left: auto;
}
.row-right .desc {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 30px;
}
/* ------------------- features */
.features {
    padding: 200px 0px;
}
.features .body {
    display: flex;
    justify-content: space-between;
}
.features .body .image {
    gap: 30px;
    width: 49%;
}
.features .body.head .image {
    display: flex;
}
.features .body .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.features .body .image img {
    object-fit: cover;
    width: 270px;
    height: 404px;
    border-radius: 16px;
}
.features .body .img-left {
    margin-top: 30px;
}
.features .body .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}
.features .btn {
    min-width: 137px;
    margin-top: 32px;
}
.features .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.features .foot {
    margin-top: 200px;
}
.features .foot .content {
    margin-top: 0px;
    border-radius: 20px;
    width: 40%;
}
.features .foot .content img {
    border-radius: 20px;
    object-fit: cover;
    width: 470px;
    height: 440px;
}
/*             blog================== */
.blog {
    padding: 96px 0px 140px;
    background: #fffcf4;
}
.blog .blog-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}
.blog-top .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}
.blog .blog-list {
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog .blog-list .blog-item {
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
    padding-bottom: 28px;
    flex-shrink: 0;
    transition: all ease 0.3s;
    /* transform: translateX(-100%); */
}
.blog .blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.blog .blog-item .info {
    margin: 0px 20px;
    display: block;
}
.blog .blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-list .dates {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding-bottom: 13px;
}
.blog-list .date {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.blog-list .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
    margin-right: 4px;
}

.blog-list .date::after {
    position: absolute;
    content: "";
    display: inline-block;
    /* width: 160px; */
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
    bottom: 0;
    left: 0;
    right: -27px;
}
.blog .blog-item .desc {
    margin: 12px 0px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.blog .blog-item .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.blog .dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}
.blog .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
}
.blog .dot.active {
    background-color: var(--primary-color);
}
/* ============footer=========== */
.footer {
    padding: 96px 0px 26px;
    background: #2e2100;
}
.footer .row {
    display: flex;
}

.footer .column {
    width: 22.66%;
}
.footer .column:first-child {
    width: 32%;
}

.footer .desc {
    width: 267px;
    margin: 18px 0px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}
.footer .social {
    margin-right: 16px;
    width: 15px;
    height: 15px;
}
.footer .heading.lv5 {
    display: inline-block;
    padding: 0px 48px 20px 0px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    border-bottom: 1px solid #59554b;
}
.footer li > a {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
    margin-top: 12px;
}
/* .footer .lv5::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554b;
    bottom: 0;
    left: 0; */

.footer ul li:first-child {
    margin-top: 23px;
}
.footer .column strong {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}
.footer .column:last-child > a {
    font-size: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.coppyright {
    border-top: 1px solid #59554b;
    text-align: center;
    margin-top: 38px;
}
.coppyright .desc {
    width: 360px;
    margin: 28px auto 0px;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
